@use "../../styles/colors"
@use "../../styles/text"
@use "../../styles/mixins"

.card
    width: 50%
    height: 6.25rem
    display: flex
    list-style: none
    align-items: center
    justify-content: space-between
    font-family: text.$font-secondary
    background-color: colors.$blue-500
    border: solid 0.0625rem colors.$blue-600
    border-radius: 0.3125rem
    margin-bottom: 0.625rem
    position: relative
    p
        font-size: 1.6rem
        color: colors.$white
        width: 50%
        height: 100%
        display: flex
        align-items: center
        padding-left: 2.5rem
        span
            @include mixins.spanCard('left')
        &::before
            content: ""
            left: 0
            top: 5%
            bottom: 5%
            width: 1px
            transition: all 0.5s
            border-radius: 0.3125rem
            position: absolute
            background-color: colors.$blue-300
        &:hover
            span 
                @include mixins.spanCardHover('left')
            &::before
                content: ""
                border-radius: 0.3125rem
                transition: all 0.5s
                top: 0
                bottom: 0
                width: 50%
                cursor: pointer
        
    time
        color: colors.$grey-200
        width: 50%
        height: 100%
        display: flex
        align-items: center
        justify-content: end
        padding-right: 2.5rem
        span
            @include mixins.spanCard('right')
        &::after
            content: ""
            right: 0
            top: 5%
            bottom: 5%
            width: 1px
            transition: all 0.5s
            border-radius: 0.3125rem
            position: absolute
            background-color: colors.$blue-400
        &:hover
            span 
                @include mixins.spanCardHover('right')
            &::after
                content: ""
                text-align: center
                justify-content: center
                border-radius: 0.3125rem
                transition: all 0.5s
                width: 50%
                cursor: pointer
                top: 0
                bottom: 0